<div class="col-md-12">
    <div class="card m-2" *ngFor="let mission of missionData">
        <div class="row">
            <div class="col-md-2">
                <img [src]="mission.links.mission_patch_small" class="icon" width="100" height="100">
            </div>
            <div class="col-md-10">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h5 class="card-title">{{ mission.mission_name }}</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 max_line">
                            {{ mission.details }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-9">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="font-weight-bold"> Flight Number </div> <div>{{ mission.flight_number }}</div>
                                </div>
                                <div class="col-md-3">
                                    <div class="font-weight-bold"> Launch Year </div> <div>{{ mission.launch_year }}</div>
                                </div>
                                <div class="col-md-3">
                                    <div class="font-weight-bold"> Launch Date </div> <div>{{ getLaunchDate(mission.launch_date_local) }}</div>
                                </div>
                                <div class="col-md-3">
                                    <div class="font-weight-bold"> Tentative Max Precision </div> <div>{{ mission.tentative_max_precision }}</div>
                                </div>
                            </div>
                        </div> 
                        <div class="col-md-3 text-right"> 
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter" (click)="setModelData(mission)">Get More Details</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-details-model [dataModel]="modelData"></app-details-model>