<h5>Filters</h5>
<div class="border-top py-2">
    <div class="row">
        <div class="col-md-8">
            <h6>Launch Success Filter</h6> 
        </div>
        <div class="col-md-4 text-right">
            <button type="button" class="btn btn-link" (click)="clear('launch')">Clear</button> 
        </div>
    </div>
    <div class="mt-2">
        <div>
            <label class="d-block">
                <input type="radio" name="launch" value="true" [(ngModel)]="selectedLaunch" (change)="onLaunchChange($event, true)"> Successfully Launched </label>
            <label class="d-block">
                <input type="radio" name="launch" value="false" [(ngModel)]="selectedLaunch" (change)="onLaunchChange($event, false)"> Failed to Launch Successfully </label>
        </div>
    </div>
</div>
<div class="border-top py-2">
    <div class="row">
        <div class="col-md-8">
            <h6>Land Filter</h6> 
        </div>
        <div class="col-md-4 text-right">
            <button type="button" class="btn btn-link" (click)="clear('land')">Clear</button> 
        </div>
    </div>
    <div class="mt-2">
        <div>
            <label class="d-block">
                <input type="radio" name="land" value="true" [(ngModel)]="selectedLand" (change)="onLandChange($event,true)"> Successfully Landed </label>
            <label class="d-block">
                <input type="radio" name="land" value="false" [(ngModel)]="selectedLand" (change)="onLandChange($event, false)"> Failed to Land Successfully </label>
        </div>
    </div>
</div>
<div class="border-top py-2">
    <div class="row">
        <div class="col-md-8">
            <h6>Launch Year</h6> 
        </div>
        <div class="col-md-4 text-right">
            <button type="button" class="btn btn-link" (click)="clear('year')">Clear</button> 
        </div>
    </div>
    <div>
        <label class="d-block" *ngFor="let year of yearFilterList">
            <input type="radio" name="year" [value]="year" [(ngModel)]="selectedYear" (change)="onYearChange($event, year)"> {{year}} </label>
    </div>
</div>