<main role="main">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <app-filter [yearList]="yearFilterList" (change)="filterChanged($event)"></app-filter>
            </div>
            <div class="col-md-9">
                <app-card [cardData] = "missionData"></app-card>
            </div>
        </div>
        <div class="text-right mr-3 mt-2 pr-1">
            <button *ngIf="isLoadMoreButton" type="button" class="btn btn-info" (click)="loadMoreData()"> Load More </button>
        </div>
    </div>
</main>




